@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500;800&family=Roboto+Slab:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500;800&family=Roboto&family=Roboto+Slab:wght@400;900&display=swap');

  
body,html {

  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
    max-width: 100%;
   }
 
img {

  width:100%;
  max-width:1600px;
  height: auto;
}



nav ul li {
  display: inline-block; 
font-family: 'Raleway', sans-serif;
font-weight: 500;
font-size: 30px;
padding: 10px;

}

 ul li a {
  list-style-type: none;
  text-decoration: none;
  color: #fff;
 }

 ul{
   list-style-type: none;
 }
 
 nav ul li {
  position: relative;
  left: 60%;
 }

 li a:hover {
   color: #FEDB60;
 }

 .fas {
   color: #fff;
 }

 .fas:hover {
  color: #FEDB60;
}


#women-head-text {
color: #0c0c0c;
font-size: 50px;
font-family: 'Raleway', sans-serif;
margin-left: 270px;
position: absolute;
top: 80px;

}

#shop-yellow {
  color: #FEDB60;
}


.wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr 6fr 6fr 6fr 2fr 3fr;
  row-gap: 35px;
   
}

.navbar {
  grid-column: 1 / 5;
  grid-row: 1;
  background-color: #0c0c0c;
 
}

.logo-home {
 margin-top: 5px;
width: 140px;
height: auto;
position: absolute;
left: 300px;
}

.hero-main-picture {
  margin-top: -35px;
  grid-column: 1 / 5;
  grid-row: 2;
background-color: #FEDB60;
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: nowrap;
}

.product-images {
width: 304px;
height: 392px;
position: relative;
left: 270px;
margin-top: 100px;
margin-right: -130px;
}


.product-name {
position: relative;
font-family: 'Roboto Slab', serif;
font-weight: 700;
top: 470px;
left: 100px;
white-space: nowrap;





}

.product-price {
position: relative;
font-family: 'Roboto', sans-serif;
font-weight: normal;
font-size: 20px;
top: 500px;
right: 30px;



}

.three {
  margin-top: -35px;
 
  grid-column: 1 / 5;
  grid-row: 3;
  width: 100%;
  height: auto;
 background-color: #F34848;
  background-size: cover;
  position: relative;
  display: flex;
  
}


.four {
    margin-top: -35px;
  grid-column: 1 / 5;
  grid-row: 4;
  width: 100%;
  height: auto;
background-color: aqua;
  position: relative;
  display: flex;
 
}

.load-more-btn {
 padding: 16px 20px;
 background-color: rgb(71, 71, 71); 
 position: absolute;
 left: 45%;
 margin-top: 10px;
 border-radius: 4px;
 color: #fff;
 font-family: 'Roboto', sans-serif;
 text-decoration: none;
 font-weight: bold;
}

.five{
  grid-column: 1 / 5;
  grid-row: 5;
  background-color: #0c0c0c;
  width: 100%;
  height: auto;
  text-align: center;
}

.six {
  grid-column: 1 / 4;
  grid-row: 6;
  background-color: #0c0c0c;
  position: relative;
  

}
  
.seven {
  grid-column: 3 / 6;
  grid-row: 6;
  background-color: #0c0c0c;
  color: #fff;
  font-family: 'Roboto', sans-serif;
  position: relative;
 
 
}
  

  .copyright-text {
    color: rgb(53, 53, 53);
    font-family: 'Roboto', sans-serif;
    text-align: center;
    position: absolute;
    right: 400px;
    top: 210px;
    z-index: 100;
    
  }

 .fab {
  color: #fff;
  text-decoration: none;
  list-style-type: none;
  padding-left: 30px;
  position: relative;
  left: 400px;
  top: 50px;
}

#newsletter-text {
  position: relative;
  font-family: 'Roboto', sans-serif;
  font-size: 30px;
  color: #fff;
  left: 470px;
}

#inlined-footer-icons {
  display: flex;
  padding: 20px 20px 20px 0;
  margin-left: 50px;
  position: relative;
  font-size: 30px; 
  bottom: 30px;
}

.fa-arrow-up {
  position: absolute;
  color: #fff;
  font-size: 80px;
  left: 100px;
  top: 100px;
}

#email {
  border-style: solid;
  background: none;
  position: relative;
  left: 470px;
  font-size: 20px;
}

input {
position: relative;
left: 470px;
font-size: 20px;
background-color: #F34848;
border-style: none;
}

#contact-info-text {
  font-family: 'Roboto', sans-serif;
  font-size: 30px;
  position: absolute;
  left: 120px;
  
}

.fa-map-marker-alt,.fa-phone-alt,.fa-envelope {
  color: #fff;
  font-size: 30px;
  position: relative;
  margin-bottom: 20px;
  left: 80px;
  top: 80px;
  list-style-type: none;
  text-decoration: none;
  

}

.fa-map-marker-alt:hover, .fa-phone-alt:hover, .fa-envelope:hover {
  color: white;
}

#contact-aligned-text {
  position: absolute;
  left: 180px;
  margin-top: 40px;
 
  

}


  @media only screen and (max-width: 550px) {
  
    

  }
  